<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.bikenik.ldoce</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>0745B6D3-4D66-4B9B-A94B-228AD6D7A1D7</key>
		<array/>
		<key>4BE519FC-203E-44DF-8789-DD4E6FF5BB62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90880EE7-0193-4DA0-83F2-C512EED9BFE9</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>ADD ALL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>58B5DB44-5113-4BD6-BD77-6F1D41BBAA56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E053EE3C-9AA3-4865-89D3-0AEADD89D99D</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Create from selected items</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51728C66-020A-4212-8894-999FFCC11559</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB27559E-8D16-465A-9CF4-8B8355144E7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58B5DB44-5113-4BD6-BD77-6F1D41BBAA56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9A7762D-55F9-4BB3-A1D2-29C8F8114EC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>647C673E-2B7B-4625-8B85-0B787CB9DC3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3D1B1BF-2B44-4B53-B10F-BEBD378BC34E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4BE519FC-203E-44DF-8789-DD4E6FF5BB62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6CA01608-694D-4345-AA95-97E682CB50E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90880EE7-0193-4DA0-83F2-C512EED9BFE9</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>ADD ALL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>58B5DB44-5113-4BD6-BD77-6F1D41BBAA56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E053EE3C-9AA3-4865-89D3-0AEADD89D99D</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Create from selected items</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90880EE7-0193-4DA0-83F2-C512EED9BFE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51728C66-020A-4212-8894-999FFCC11559</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A480FAAF-B475-4972-894E-E9A61053972F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3624A910-A36B-4AA7-97C3-98B0E57A0306</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5E5F455-48EB-4882-88CD-C03392AA9C05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6CA01608-694D-4345-AA95-97E682CB50E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C3D1B1BF-2B44-4B53-B10F-BEBD378BC34E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9A7762D-55F9-4BB3-A1D2-29C8F8114EC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0745B6D3-4D66-4B9B-A94B-228AD6D7A1D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA12D699-ECF3-438E-BD4F-FE79891CA700</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9D2F0E0-B476-4673-AD86-7C530D6D55E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3D1B1BF-2B44-4B53-B10F-BEBD378BC34E</key>
		<array/>
		<key>C9E870D0-C52A-4202-B505-A9A066A8ABA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB27559E-8D16-465A-9CF4-8B8355144E7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E053EE3C-9AA3-4865-89D3-0AEADD89D99D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9E870D0-C52A-4202-B505-A9A066A8ABA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB27559E-8D16-465A-9CF4-8B8355144E7F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA12D699-ECF3-438E-BD4F-FE79891CA700</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A480FAAF-B475-4972-894E-E9A61053972F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE95CA03-945D-4E4B-A68A-F0B01B9A01B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5E5F455-48EB-4882-88CD-C03392AA9C05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>647C673E-2B7B-4625-8B85-0B787CB9DC3E</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Show Phrasal Verbs</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>bikeNik</string>
	<key>description</key>
	<string>dictionary</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ldoce-Express</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>src/input/body.json</string>
				<key>filetext</key>
				<string>{query},
</string>
				<key>relativepathmode</key>
				<integer>1</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>0745B6D3-4D66-4B9B-A94B-228AD6D7A1D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Glass</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>B9A7762D-55F9-4BB3-A1D2-29C8F8114EC9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/save-word.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A5E5F455-48EB-4882-88CD-C03392AA9C05</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>24</integer>
				<key>keyword</key>
				<string>ldl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/next-body.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string>LAST</string>
				<key>title</key>
				<string>search</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6CA01608-694D-4345-AA95-97E682CB50E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Anki Card Created ✌️</string>
				<key>title</key>
				<string>{var:word}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D9D2F0E0-B476-4673-AD86-7C530D6D55E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/next-header.js $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C3D1B1BF-2B44-4B53-B10F-BEBD378BC34E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Submarine</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>90880EE7-0193-4DA0-83F2-C512EED9BFE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ldoce</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/intro.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Define Word...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FE95CA03-945D-4E4B-A68A-F0B01B9A01B2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/next-body-all.js
./node_modules/.bin/run-node src/index.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>51728C66-020A-4212-8894-999FFCC11559</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>ID\sof\snotes\:\s[0-9]</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>BA12D699-ECF3-438E-BD4F-FE79891CA700</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>58B5DB44-5113-4BD6-BD77-6F1D41BBAA56</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{query}",
    "config" : {
      "title" : "",
      "runningsubtext" : "",
      "subtext" : ""
    },
    "variables" : {
      "currentWord": "{var:word}"
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>EB27559E-8D16-465A-9CF4-8B8355144E7F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>This card is already exist, maybe ⛔</string>
				<key>title</key>
				<string>NOT YET</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3624A910-A36B-4AA7-97C3-98B0E57A0306</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/save-word.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>647C673E-2B7B-4625-8B85-0B787CB9DC3E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Submarine</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>E053EE3C-9AA3-4865-89D3-0AEADD89D99D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>file=src/input/body.json

# correct formating JSON file afer multiple added args
echo "[" | cat - $file &gt; temp &amp;&amp; mv temp $file
sed -i .bk '$s/,$/\]/' $file
rm $file.bk

./node_modules/.bin/run-node src/index.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C9E870D0-C52A-4202-B505-A9A066A8ABA1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>24</integer>
				<key>keyword</key>
				<string>ldp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/next-phrasal-verbs.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string>Phrasal Verbs</string>
				<key>title</key>
				<string>search</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4BE519FC-203E-44DF-8789-DD4E6FF5BB62</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>ID\sof\snotes\:\snull</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A480FAAF-B475-4972-894E-E9A61053972F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>1. Choose your language [https://cloud.google.com/translate/docs/languages]
2. And check path to Anki collection.media folder


This workflow uses API of Pearson
http://developer.pearson.com/apis/dictionaries</string>
	<key>uidata</key>
	<dict>
		<key>0745B6D3-4D66-4B9B-A94B-228AD6D7A1D7</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>JSON BODY</string>
			<key>xpos</key>
			<integer>1020</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>3624A910-A36B-4AA7-97C3-98B0E57A0306</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>1460</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>4BE519FC-203E-44DF-8789-DD4E6FF5BB62</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>51728C66-020A-4212-8894-999FFCC11559</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>Added All</string>
			<key>xpos</key>
			<integer>1020</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>58B5DB44-5113-4BD6-BD77-6F1D41BBAA56</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>647C673E-2B7B-4625-8B85-0B787CB9DC3E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Save my choose</string>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>6CA01608-694D-4345-AA95-97E682CB50E1</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>90880EE7-0193-4DA0-83F2-C512EED9BFE9</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>A480FAAF-B475-4972-894E-E9A61053972F</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>1380</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>A5E5F455-48EB-4882-88CD-C03392AA9C05</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Save my choose</string>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>B9A7762D-55F9-4BB3-A1D2-29C8F8114EC9</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>BA12D699-ECF3-438E-BD4F-FE79891CA700</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>1380</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>C3D1B1BF-2B44-4B53-B10F-BEBD378BC34E</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>HEADER</string>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>C9E870D0-C52A-4202-B505-A9A066A8ABA1</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>1020</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>D9D2F0E0-B476-4673-AD86-7C530D6D55E8</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>1460</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>E053EE3C-9AA3-4865-89D3-0AEADD89D99D</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>EB27559E-8D16-465A-9CF4-8B8355144E7F</key>
		<dict>
			<key>xpos</key>
			<integer>1240</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>FE95CA03-945D-4E4B-A68A-F0B01B9A01B2</key>
		<dict>
			<key>note</key>
			<string>#1 Run intro.js
It's scrapping from API</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>language</key>
		<string>ru</string>
		<key>nameOfDeck</key>
		<string>Ldoce-Express</string>
		<key>pathToAnkiMedia</key>
		<string>/Library/Application Support/Anki2/English/collection.media</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>nameOfDeck</string>
		<string>pathToAnkiMedia</string>
		<string>language</string>
	</array>
	<key>version</key>
	<string>1.0.3</string>
	<key>webaddress</key>
	<string>https://github.com/bikeNik/alfred-ldoce#readme</string>
</dict>
</plist>
